body {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

table {
    margin: auto;
    margin-top: 30px;

    border-collapse: separate;
    border-spacing: 0px; 

    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-bottom:2px rgb(1, 152, 122) solid;
}

.linhaverde th{
    background-color: rgb(1, 152, 122);
    color: white;

    padding: 10px 30px;
}

td {
    padding: 10px 50px;
}

tr:hover {
    background-color: rgb(218, 218, 218);
    color: rgb(1, 152, 122);
    font-weight: bold;
}